html * {
font-family: Arial
}

body {
margin:0;
background-image: url('./img/hrv.jpg');
background-attachment: fixed;
}

.center {
	display:flex;
    margin: 0 auto;
    width: 80%;
	align-items:center;
	flex-direction:column;
}


.bigtext {
    Font-size: 30px;
}


#imgbox {
display:none;
justify-content: center;
flex-direction:column;
text-align:center;
border: 2px solid black;
width : 100%;
height: 50vh;
background-color:white
}

.navbar {
display:flex;
flex-direction:column;
	width:100%;
	align-items:center;
	box-shadow:5px 5px 5px gray;
	margin-bottom:5%;
	background-color:white;
}

.brand {
display:flex;
align-items:center;
height:20vh;
}

.buttons {
width:100%;
height:10vh;
display:flex;
justify-content:center;
}

.buttons2 {
width:100%;
display:flex;
justify-content:center;
margin:5vh;
}

.button:hover{
background-color:darkgreen;
color:white;
}

.button {
display:flex;
flex-direction:column;
font-size:30px;
margin: auto;
width:100%;
height:100%;
background-color:lightgreen;
align-items:center;
text-align:center;
}

.searchbar {
	display:flex;
	width:100%;
	flex-direction:column;
	align-items:center;
}

#videoElement {
	width:inherit;
	height:inherit;
	margin-bottom: 10vh
}

#canvas {
	margin-bottom: 10vh
}

.poweredby {
	display:flex;
	height:3vh;
	align-items:center;
	margin:5px;
}

.icon {
	height:inherit
}

hr
{
border:solid 1px white;
width: 96%;
height: 1px;

}

/* Sidebar */
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
    z-index:0;
    color:white;
  
    display:flex;
    flex-direction:column;
    align-items:center;
	justify-content: center;
	
	transition: 0.5s cubic-bezier(.36,-0.01,0,.77);
	width:400px
}

.sidenav.closed {
  left:-350px;
}

.responseText {
    font-size: 40px;
}